@media screen and (max-width: 600px) {
	body #left {
		float: none;
		padding: 10px;
	}

	body #main {
		margin-left:0px;
	}
}

html, div {
	font-family: arial;
	font-size: 14px;
}

body {
	margin: 0px;

}

div {
	box-sizing: border-box;
}

#header {
	background-color: #cdcdcd;	
	color: white;
	font-size: 24px;
	padding: 20px;
}

#login-info {
	float: right;
}

#content {
	background-color: #ededed;
}

#left {
	float: left;
	width: 200px;
}

#main {
	margin-left:200px;
	background-color: #fff;
	padding-top: 10px;
}

#footer {
	background-color: #dedede;
}

.msg-error {
	position: fixed;
	top: 20px;
	left: 20px;
	right: 20px;
	height: 40px;
	background-color: red;
	color: white;
	font-weight: bolder;
	z-index: 10;
	padding: 10px;
	border-radius: 4px;
}

.login-wrapper {
	position: absolute;
	width: 300px;
	height: 200px;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: solid 1px #ababab;
}

.login-header {
	background: #dedede;
	font-weight: bold;
	padding: 10px;
}

@media screen and (max-width: 600px) {
	.login-wrapper {
		margin: 0;
		width: inherit;
		height: inherit;
	}
}

ul.main-menu {
	padding-left: 10px;
	padding-right: 10px;
}

ul.main-menu li{
	list-style: none;
	background-color: white;
	margin-top: 5px;
	padding: 5px;
	border: solid 1px #cdcdcd;
	border-radius: 5px;
}

ul.main-menu li:hover {
	background-color: #efefef;
}

/* data table default theme */
.data-table {
	border-collapse: collapse;
	width: 100%;
}

.header {
	font-weight: bold;
}


.data-table.default td{
	border-bottom: solid 1px #ababab;
	padding: 10px;
	border-right: 0px;
	color: #666666;
}

.data-table.default tr:hover {
	background-color: #ededed;
}

a.link-button {
	border: solid 1px #085091;
	color: white;
	background-color: #0f6fc6;
	text-decoration: none;
	padding: 4px;
}

/* data table green theme */

.data-table.green td{
	border-bottom: solid 1px #008c17;
	padding: 10px;
	border-right: 0px;
	color: #666666;
}

.data-table.green tr:hover {
	background-color: #d5ffdc;
}

.data-table.green a.link-button {
	border: solid 1px #008c17;
	color: white;
	background-color: #d5ffdc;
	text-decoration: none;
	padding: 4px;
}